<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head');%>

<body>

  <header>
    <%- include('../partials/nav');%>
  </header>

  <div class="carousel">
      <ul class="slide-wrapper">

      </ul>
    </div>
  </div>



  <main>

    <% games.forEach(game =>{ %>
    <section class="card-item">
      <img src="<%= game.img %>" alt="<%= game.name %>">
      <h2><%= game.name %></h2>
      <h3><%= game.platform %></h3>

      <form action="/" method="post">
        <button name="like" type="submit" value="<%= game._id %>" class="btn-like">Like</button>
      </form>

    </section>
    <% }) %>

  </main>

  <script src="script.js"></script>

  
</body>

</html>









